<% if @bookmarks.any? %>
  <div class="saved-container">
    <p class="link-to-links"><%= link_to "Home", root_path %> / <%= link_to "Recipes", recipes_path %></p>
    <h1>Saved Recipes</h1>
    <div class="row justify-content-between">
      <% @bookmarks.each do |bookmark| %>
      <div class="saved-recipe-content col-lg-3 mx-2 mb-3">
        <%= link_to recipe_path(bookmark.recipe.id) do %>
          <div class="saved-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path bookmark.recipe.image %> ">
            <h3 class="saved-recipe-title"><%= bookmark.recipe.title %></h3>
          </div>
        <% end %>
    </div>
      <% end %>
      <% else %>
        <h2>You don't have any saved recipes.</h2>
    <% end %>
      </div>
    </div>
  </div>
