<% content_for :meta_title, "#{@recipe.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.description %>
<% content_for :meta_image, cl_image_path(@recipe.image.path) %>

<div class="container">
    <%= simple_form_for :recipe, :url => recipes_path, method: :get do |f| %>
      <div class="index-search-bar d-flex w-100">
          <%= f.input :label, label: false, collection: Ingredient.all.map { |i| [i.label, i.label]}, input_html: { data: { controller: 'select2', select2_selected_value: params[:recipe] ? params[:recipe][:label] : [], select2_width_value: "50vw" }, multiple: "multiple"} %>
          <%= f.submit "Add", class: "btn ghost start-cooking ", style: "margin-top:0px; margin-left: 10px; height: 45px;" %>
      </div>
    <% end %>
</div>
<div class="yellow-background">
  <div class="container">
  <h1 class="results-h2">You can make <%= @recipes.size %> recipes</h1>
    <div class="row justify-content-center index-cards-background">
      <% @recipes.each do |recipe| %>
      <div class="index-recipes-card col-lg-4 mx-2 mb-3" id="bookmark-hover-<%= recipe.id %>">
        <%= link_to recipe_path(recipe) do %>
          <div class="index-image-div">
            <%= image_tag recipe.image, class: "index-recipe-image" %>
          </div>
          <div class="index-recipe-content">
            <h3 class="index-recipe-title"><%=recipe.title.truncate(25)%></h3>
            <h2 class="index-recipe-desc"><%=recipe.description.truncate(70)%></h2>
            <div class="link-bookmark">
              <p class="mb-0 timer-text"><i class="far fa-clock index-recipe-timer"></i> <%= recipe.total_time || recipe.cook_time %> mins</p>
              <%= render 'bookmarks/bookmark', recipe: recipe %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
