<div class="row justify-content-center">
  <h1 class="results-h2">Results</h1>
  <% @recipes.each do |recipe| %>
    <div class="index-recipes-card col-lg-2 mx-2 mb-3">
      <%= link_to recipe_path(recipe) do %>
        <div class="index-image-div">
          <%= image_tag recipe.image, class: "index-recipe-image" %>
        </div>
        <div class="recipe-content">
          <h3 class="index-recipe-title"><%=recipe.title.truncate(25)%></h3>
          <h2 class="index-recipe-desc"><%=recipe.description.truncate(70)%></h2>
          <div class="link-bookmark">
            <p class="mb-0 timer-text"><i class="far fa-clock index-recipe-timer"></i> <%= recipe.total_time || recipe.cook_time %> mins</p>
          </div>
        </div>
      <% end %>
      <% bookmark = Bookmark.find_by(user:current_user, recipe:recipe) %>
      <% if bookmark %>
        <%= link_to bookmark_path(bookmark), method: :delete do %>
          <p class="index-recipe-bookmark"><i class="fas fa-bookmark"></i></p>
        <% end %>
      <% else %>
        <%= link_to recipe_bookmarks_path(recipe), method: :post do %>
          <p class="index-recipe-bookmark"><i class="far fa-bookmark"></i></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
