<div class="home-banner">
  <div class="home-banner-content">
    <h1>Discover new recipes, reduce food waste.</h1>
    <p>Find the perfect recipe catered for you. Eat sustainably and eat the best</p>
    <a href="#banner-anchor" class="btn ghost how-it-works btn-block">How it Works</a>
   <%#= link_to "how it works", "#banner-anchor" %>
  </div>
</div>

<div class="container">
  <div class="home-search-container" id="banner-anchor">
    <div class="home-search-title">
      <%# <h2>How it Works</h2> %>
      <p>Find recipes with ingredients that you have on hand</p>
    </div>
    <div class="home-search-bar">
      <%= simple_form_for :recipe, :url => recipes_path, method: :get do |f| %>
        <%= f.input :label, label: false, collection: Ingredient.all.map { |i| [i.label, i.label]}, input_html: { data: { controller: 'select2', select2_width_value: "70%" }, multiple: "multiple"} %>
        <%= f.submit "Start cooking", class: "btn ghost start-cooking" %>
      <% end %>
    </div>
  </div>
</div>

<section class="blue-basket-how">
  <div class="container">
    <%# <div class="row"> %>
      <h2 class="how-it-works-text d-flex justify-content-center mb-30">How it Works</h2>
    </div>
    <div class="row"></div>

      <div class="d-flex justify-content-center">
        <div class="how-to-image-text">
          <%= image_tag'how-it-works-images-pantry.png', class: "how-icon-max-width" %>
          <h3>YOUR INGREDIENTS</h3>
          <p>Use ingredients you already have on hand.</p>
        </div>
          <%= image_tag'how-it-works-images-arrow.png', class: "how-icon-max-width" %>
         <div class="how-to-image-text">
          <%= image_tag'how-it-works-images-recipe.png', class: "how-icon-max-width" %>
          <h3>FIND RECIPES</h3>
          <p>Find and select the recipes you want.<br>
          to try. Save them to your library.</p>
        </div>
          <%= image_tag'how-it-works-images-arrow.png', class: "how-icon-max-width" %>
         <div class="how-to-image-text">
          <%= image_tag'how-it-works-images-meal.png', class: "how-icon-max-width" %>
          <h3>ENJOY YOUR MEAL</h3>
          <p>Follow the recipes to try new dishes<br>
          and make your family delicious meals.</p>
        </div>
      </div>

  </div>
</section>

<div class="home-popular-recipes-cards-container popular-recipes-row">
  <h2 class="popular-recipe-header">Popular Recipes</h2>
  <div class="container">
    <div class="row">
      <% @random_recipes.each do |random_recipe| %>
      <div class="popular-recipes-card col-lg-2 col-sm-12 col-md-6  mx-2 mb-2">
        <%= link_to recipe_path(random_recipe) do %>
        <div class="popular-image-div">
            <%= image_tag random_recipe.image, class:"popular-recipe-image" %>
          </div>
          <div class="recipe-content">
            <h2 class="popular-recipe-title"><%=random_recipe.title.truncate(25)%></h2>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
