<div class="home-banner">
  <div class="home-banner-content">
    <h1>Discover new recipes, reduce food waste.</h1>
    <p>Find the perfect recipe catered for you. Eat sustainably and eat the best</p>
    <a href="#banner-anchor" class="btn ghost how-it-works btn-block">How it Works</a>
   <%#= link_to "how it works", "#banner-anchor" %>
  </div>
</div>

<div class="container">
  <div class="home-search-container" id="banner-anchor">
    <div class="home-search-title">
      <h2>How it Works</h2>
      <p>Find recipes with ingredients that you have on hand</p>
    </div>
    <div class="home-search-bar">
      <%= simple_form_for :recipe, :url => recipes_path, method: :get do |f| %>
        <%= f.input :label, label: false, collection: Ingredient.all.map { |i| [i.label, i.label]}, input_html: { data: { controller: 'select2', select2_width_value: "70%" }, multiple: "multiple"} %>
        <%= f.submit "Start cooking", class: "btn ghost start-cooking" %>
      <% end %>
    </div>
  </div>
</div>

<div class="home-popular-recipes-cards-container popular-recipes-row">
  <h2 class="popular-recipe-header">Popular Recipes</h2>
  <div class="container">
    <div class="row">
      <% @random_recipes.each do |random_recipe| %>
      <div class="popular-recipes-card col-lg-2 col-sm-12 col-md-6  mx-2 mb-2">
        <%= link_to recipe_path(random_recipe) do %>
        <div class="popular-image-div">
            <%= image_tag random_recipe.image, class:"popular-recipe-image" %>
          </div>
          <div class="recipe-content">
            <h2 class="popular-recipe-title"><%=random_recipe.title.truncate(25)%></h2>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
