<!DOCTYPE html>
<html>
  <head>
    <title>RailsRecipesFinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <div class="container">
    <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </body>
  </div>
</html>

<%# //-----------------------------------------------------------// %>

<div class="row-fluid row-new">
<div class="join span2 col-md-2 outer-spacer" style="display: none;"></div>
<div class="span3 col-md-3">
<h3 class="epsilon footer-title">
<div>
  <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
Follow Us
</h3>
  <ul class="socials">
    <li><i class="fab fa-facebook-square"></i></li>
    <li><i class="fab fa-twitter-square"></i></li>
    <li><i class="fab fa-instagram-square"></i></li>
  </ul>
</div>
Recipes, Tips & More
</h3>
<div class="footer-newsletter-form-hldr">
  <%= simple_form_for users_path, :url => users_path, method: :get, html: { class: 'd-flex form-inline' } do |f| %>
    <%= f.input :email, placeholder: "Email Address", label: false %>
    <%= f.submit "Sign Up", class: "btn ghost sign-up" %>
  <% end %>
</div>
