<!DOCTYPE html>
<html>
  <head>
    <title>Blue Basket - Find recipes with ingredients that you have on hand</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'print', media: 'print', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <body class="bg-white">
    <div class="container">
      <div class="logo-header ms-4 me-4">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
          <%= link_to root_path do %>
            <%= image_tag'blue-basket-nav-logo-01.png' %>
          <% end %>
          <div class="navigation-links col-md-3 py-2 text-end">
            <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path(current_user), method: :delete, class:"btn ghost log-in" %>
              <%= link_to "My Recipes", bookmarks_path, class:"btn ghost get-started" %>
            <% else %>
              <p class="btn ghost log-in"> <%= link_to "Log in", user_session_path  %> </p>
              <p class="btn ghost get-started"> <%= link_to "Sign up", new_user_registration_path  %> </p>
            <% end %>
          </div>
        </header>
      </div>
    </div>
    <%= yield %>
      <div class="footer d-flex justify-content-around">
        <div class="footer-links">
          <p style="text-align: center;">Follow Us</p>
          <div class="footer-smm d-flex justify-content-around">
            <i class="fab fa-instagram smm-icon"></i>
            <i class="fab fa-facebook smm-icon"></i>
            <i class="fab fa-twitter smm-icon"></i>
          </div>
        </div>
        <div class="footer-newsletter-form-hldr">
          <p style="text-align: center;">Recipes, tips & more</p>
          <%= simple_form_for :user do |f| %>
            <div class="d-flex">
              <%= f.input :email, label: false, input_html: { class: "mb-0 h-100 subscription-input" }, placeholder: "E-mail address" %>
              <%= f.button :submit, "Subscribe", class: "btn ghost sign-up" %>
            </div>
          <% end %>
        </div>
        <div class="footer-copyright">
          <p>About us</p>
          <p>Contact us</p>
          <p>BlueBasket 2022</p>
        </div>
      </div>
  </body>
</html>
